.navbar {
  background-color: #fcf4e0;
  align-items: center;
  padding: 20px 0 !important;
}

.navbar a {
  margin-right: 20px !important;
  font-size: 18px;
  font-weight: 600 !important;
  color: #111;
}

.title {
  font-size: 30px !important;
}

.main__button {
  background-color: #f91944;
  color: #fff !important;
  padding: 12px 25px !important;
  border-radius: 30px;
  border: 2px solid transparent;
  outline: 0;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  transition: all 0.5s;
}

.main__button:hover {
  border: 2px solid #f91944;
  color: #f91944 !important;
  background-color: #fff;
}
