.navbar {
  background-color: #fcf4e0;
  align-items: center;
  padding: 20px 0 !important;
}

.navbar img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.navbar a {
  margin-right: 20px !important;
  font-size: 18px;
  font-weight: 600 !important;
  color: #111;
}

.title {
  font-size: 25px !important;
  color: #f91944 !important;
}

.main__button {
  background-color: #f91944;
  color: #fff !important;
  padding: 8px 25px !important;
  border-radius: 30px;
  border: 2px solid transparent;
  outline: 0;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  transition: all 0.5s;
}

.active__item {
  color: #f91944 !important;
}

.main__button:hover {
  border: 2px solid #f91944;
  color: #f91944 !important;
  background-color: #fff;
}

@media only screen and (max-width: 767px) {
  .title {
    font-size: 20px !important;
  }
}
